.Cards {
    display: flex;
    flex-wrap: wrap;
  }

.parentContainer{
    list-style: none;
    flex-basis: 33.333333%
  }


/* 
  @media screen and (max-width: 1200px) 
  {
    .Cards{
      flex-direction: column;
    }
    .parentContainer{
      height: 9rem;
    }
  }
  
  @media screen and (max-width: 768px)
  {
    .Cards{
      width: 90%;
    }
  } */